<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mvalenciarmz.com.tarjetamedica" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- para la alarma del evento
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <service android:name=".Receiver2" android:enabled="true">
        <intent-filter> <action android:name="NOTIFICATION_SERVICE" /></intent-filter>
    </service>
    <receiver android:name=".AlarmReceiver" >
        <intent-filter>
            <action android:name="NOTIFICATION_SERVICE" />
        </intent-filter>
    </receiver>
    -->

    <application
        android:name=".TMed"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TarjetaMedicaMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AltaPersonaActivity"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EventosActivity"
            android:label="Registros" >
        </activity>
        <activity
            android:name=".AltaEventoActivity"
            android:label="" >
        </activity>
    </application>

</manifest>
